#flags{
 position: fixed;
 right: 50px;
 top: 20px;
 display: flex;
 flex-direction: row;
 max-width: 100px;
 z-index: 9999;
}

#english{
  max-height: 50px;
  margin-right: 10px;
}

#spanish{
  max-height: 50px;
  margin-right: 10px;
}

#container {
  display: flex;
  width: 360px;
  margin: auto;
}

input {
  padding: 10px;
  border: 8px solid #F9DFDF;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  margin-top: 10px;
}

.button {
  background-color: #007bff;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;

}

.button:hover {
  background-color: #0069d9;
}

input,
button {
  font-size: 16px;
  font-family: Arial, sans-serif;
}


input[name="comments"] {
  height: 300px; 
}

.background{
  background-color: #D6F1FF;
  min-height: 100vh;
}

 @media screen and (max-width: 767px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: white;
  }
 .background{
    margin-top: 100px;
  }
} 

#check{
  margin-left: 10vw;
}

#feedback{
  background-color: #D6F1FF;
  min-height: 100vh;
}

#aga-plates{
  width: 40vw;
  height: 30vh;
}

#quooker-one{
  margin-left: 15vw;
}

#quooker-two{
  margin-left: 15vw;
}

.selected {
font-weight: bold;
}

.active {
  font-weight: bold;
}

.subList{
  list-style-type: circle;
}

.ordered{
  list-style-type: decimal-leading-zero;
}

.dots{
  list-style-type: disc;
}

#url, #urlTwo{
  word-wrap: break-word;
}

.badDiv{
  display: flex;
  flex-direction: row;
}

@media (max-width: 500px) {
  #quooker-one {
    margin-left: 10vw;
  }
}

@media (max-width: 904px) {
  .video {
   width:400px
  }
}

@media (max-width: 500px) {
  .video {
   width:300px
  }
}

@media (max-width: 400px) {
  .video {
   width:300px
  }
}

@media (max-width: 360px) {
  .video {
   width:260px
  }
}

@media (max-width: 320px) {
  .video {
   width:220px
  }
}

@media (max-width: 300px) {
  .video {
   width:200px
  }
}

  @media (max-width: 767px) {
    #white {
      position:fixed;
      right: 0;
      top: 0;
    }
  }

@media (max-width: 767px) {
  #check {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  }
}

@media (max-width: 1023px) {
  #flags {
    right: 20px;
  }
} 


@media (max-width: 767px) {
  #flags {
    left: 50px;
    top: 30px;
  }
} 

@media (max-width: 767px) {
  #english {
    max-height: 40px;
    
  }
  #spanish {
    max-height: 40px;
  }
} 

@media (min-width: 767px) {
  #container {
   margin-top: 60px;
  }
} 


@media (max-width: 400px) {
  #container {
   width: 300px;
  }
} 

@media (max-width: 320px) {
  #container {
   width: 200px;
  }
} 
