.home-main{
  background-color: #D6F1FF;
  min-height: 100vh;
}

#flags{
 position: absolute;
 right: 50px;
 top: 20px;
 display: flex;
 flex-direction: row;
 max-width: 200px;
}

#english{
  max-height: 50px;
  margin-right: 10px;
}

#spanish{
  max-height: 50px;
  margin-right: 10px;
}

#container {
  display: flex;
  width: 360px;
  margin: auto;
}

input {
  padding: 10px;
  border: 8px solid #D6F1FF;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  margin-top: 10px;
}

.button {
  background-color: #007bff;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;

}

.button:hover {
  background-color: #0069d9;
}

input,
button {
  font-size: 16px;
  font-family: Arial, sans-serif;
}


input[name="comments"] {
  height: 300px; 
}

#checkinout{
  background-color: #D6F1FF;
  min-height: 100vh;
}

#check{
  margin-left: 10vw;
}

@media (max-width: 1023px) {
  #flags {
    right: 20px;
  }
} 


@media (max-width: 767px) {
  #flags {
    left: 50px;
    top: 30px;
  }
} 

@media (max-width: 767px) {
  #english {
    max-height: 40px;
    
  }
  #spanish {
    max-height: 40px;
  }
} 

@media (min-width: 767px) {
  #container {
   margin-top: 80px;
  }
} 


@media (max-width: 400px) {
  #container {
   width: 300px;
  }
} 

@media (max-width: 320px) {
  #container {
   width: 200px;
  }
} 
